In [8]:
print("Hello World")

Hello World

In [16]:
a = False
# here i am declaring a variable 'a' and assigning False to it.
type(a)

bool

In [25]:
# Operators
# Arthematic operators 
a, b = 2, 3
a ** b
# / // ** %

8

In [7]:
# Assignment operators
a = 5
# a = a**2
a **= 2
a

25

In [14]:
# comparision operators
# <, >, <=, >=, ==, !=
a = 7
b = 6
a >= b

True

In [22]:
#  Logical operators
# and or not
a = 6
b = 6
#  P   or   Q
# a > 9 or b < 5
not a < 5

True

In [33]:
a = 5 
b = 5
c = 5
b = 9
id(b)

140710736815144

In [1]:
lst = [2,5,6,5,4,5,6,5]
lst[1] = 10
lst

[2, 10, 6, 5, 4, 5, 6, 5]

In [10]:
# tuple
tup = (2,5,6,6)
tup.count(6)

2

In [24]:
# set
a = {1,2,3,4,2,5,4}
b = {10,11,12,13,14,5}

{1, 2, 3, 4}

In [35]:
fan = {
    'name':'CG', 
    'color':'light blue',
    'motor': True,
    'speeds': [1,2,3,4,5]
}
fan['name']

keys = ['name','color','motor','speeds']
vals = ['usha', 'black', False, 5]
data = dict(zip(keys,vals))
data

# data = float('1')
# # data
# data += 2
# data

{'name': 'usha', 'color': 'black', 'motor': False, 'speeds': 5}

In [51]:
# controling statements
a = int(input('Enter number to check the even odd or whole'))

if a == 0 :
    print('whole')
elif a % 2 ==0:
    print('even')
else:
    print('odd')

Enter number to check the even odd or whole2
even

In [14]:
# looping statements 
k = 0 # init of a counter
while k<10:# condition check
    print('hello')#statements
    k += 1 #inc

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [45]:
# list(range(10, 0, -1))
a = [1,5,88,9,8,6,5]
print(data)
for i in data:
    print(i+' : '+ str(data[i]))
    
# itiration controls --> break continue pass

{'name': 'usha', 'color': 'black', 'motor': False, 'speeds': 5}
name : usha
color : black
motor : False
speeds : 5

In [9]:
def print_hello(num):
    for i in range(num):
        print('Hello')
    

    
# def add(a, *b):
#     print(str(a)+", "+str(b))
#     print(a+sum(b))
#     return a+sum(b)

# summ = add(69,8,5,22,5,5,66,9,5,8,9)
# print_hello(5)
# summ+=1
# summ

69, (8, 5, 22, 5, 5, 66, 9, 5, 8, 9)
211

In [13]:
def print_args(a, **b):
    print(a)
    print(b)
    
print_args(b  = 5,a = 'asdfa', c = 'bla', test = (569559,6559,66))

asdfa
{'b': 5, 'c': 'bla', 'test': (569559, 6559, 66)}

In [18]:
lst = [2,'s',5.336,True,(1,2),None]
type(lst[3])

bool

In [32]:
import array
arr = array.array('i', [6,9,6,5,6,9])
type(arr)

array.array

In [1]:
import numpy as np
arr = np.array([2,6,9,5,8,9,6,5])
type(arr)
arr[2]

9

In [17]:
tdarr = np.array([
    [1,2,],
    [3,4,]
])

tdarr.shape
tdarr.size

mat = np.matrix(tdarr)
mat*mat

np.zeros((3,2))
np.ones((3,3))
np.full((2,2), 6)

exarr = np.array([
        [1,2,3],
        [4,5,6],
        [7,8,9]
])
a = exarr[1:,1:]
a

array([[5, 6],
       [8, 9]])

In [35]:
arr = np.array([
    [[1,2],[3,4]],
    [[5,6],[7,8]]
])

arr[0, 0, 1]
arr2 = arr.reshape((4,2))
arr.shape
arr2.shape
arr2.size

data = np.array([1,2,5,6,8,6,6,9,5])
data.reshape((1,9))
data

array([1, 2, 5, 6, 8, 6, 6, 9, 5])

In [36]:
np.reshape?

In [19]:
data = {
    "name":['loka','karthik','nimisha'],
    "age":[66,55,8],
    "sem":[8,8,8]
}
data
import pandas as pd

df = pd.DataFrame(data)
df['name']
# type(df.iloc[:1])# data frame
# df.iloc[0]# series
df = pd.read_csv('./data.csv')
df2.iloc[:1]

   Name  Age  Sem
0  Loka   55    8

In [31]:
# column operation
df.columns
df['Name']
df.Name
df2 = df[['Name', 'Sem']]
df.Name.unique()

array(['Loka', 'karthik', 'nimisha'], dtype=object)

In [36]:
# row
df.head()
df.tail()
# df[df.name == 'karthik']
df[(df['Name']=='Loka')&(df['Sem']==8)]
# df
# name = loka

   Name  Age  Sem
0  Loka   55    8